div {
    box-sizing: border-box;
}
.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
body {
    margin: 0px;
    
}
@font-face {
    font-family: Myriad Pro;
}
/*-----------------------------------------------------------------------*/
.heading-clearfix {
    background-color: #f9895e;
    margin: auto;
    width: 70vw;
    float: center;
    border-color: red;
    border-radius: 10px;
}
.heading-clearfix img {
    margin-left: 20px;
}